*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  font-family: inherit;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 1rem 1rem 1rem;
  justify-content: space-between;
  animation: cakes-appear 1s ease-out forwards;
}

@keyframes cakes-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
