.summary {
  text-align: center;
  max-width: 50rem;
  width: 80%;
  margin: auto;
  margin-top: -10rem;
  position: relative;
  background-color: #ffdb64;
  color: #33393D;
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}

.summary h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.summary p {
  font-size: 1rem;
}

@media screen and (min-width: 800px) {
  .summary {
    width: 70%;
  }
}