.input {
  margin-top: 0.25rem;
}

.input label {
  font-weight: inherit;
  margin-right: 0.25rem;
}

.input label:hover {
  font-weight: inherit;
  margin-right: 0.25rem;
  color: black;
}

.input input {
  width: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
}
